* {
    margin: 0;
    border: 0;
    padding: 0;
    }
    
body{
    background-color: black;
    font-family: "Roboto", sans-serif;
}

/* .list-nav{
    list-style: none;
    display: flex;
    gap: 24px;
    background-color: black ;   
    padding: 10px;
    align-items: center;
}

.list-nav li a{
    color: white;
    text-decoration: none;
} */

.svg-white{
    filter: invert(100%) ;    
}

.hero {
    background-image: url(../img/bg-hero.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0px 3px 6px black;
    text-align: right;
    color: white;
    height: 400px;
    padding: 20px;
    
    
}

.hero h1{
    font-size: 60px;
}
.hero h3{
    font-size: 40px;
 font-weight: lighter;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

.section-two{   
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.section-three{
    display: flex;
    padding: 40px;
    background-color: rgb(206, 104, 40);
    color: white;
    justify-content: center;
    
}

.sub-section-row{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.img-container{
    padding: 20px;
    width: 50%;
    text-align: right;
}

.sub-section-col{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}
.section-four{
    
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;


}
.sub-section-four{
    display: flex;
    gap: 40px;
}
footer {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background: #000f08;
    color: white;
    padding: 20px
   }
i {
    font-size: 30px;
    
    
}

.form{
    color: palevioletred;
    margin: 0 auto;
    width: 500px;
    padding: 32px;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #212121;
}
.form h1{
    text-align: center;
}
.form div{
   padding-top: 20px;
}

.button-form{
   display: flex;
   justify-content: center;
   
   
}
label, select {  
    display: inline-block;
    width: 200px;
    text-align: right;
}

textarea {
  vertical-align: top;
  height: 6em;
}



/*  position: static Celeste*/
.nav-position-static {
    position: static;
    background-color: rgb(0, 191, 255);
    list-style: none;
    display: flex;
    gap: 24px;   
    padding: 10px;
    align-items: center;
    height: 40px;
    width: 50%;
}

/* position: relative Verde */
.nav-position-relative {
    position: relative;
    

    background-color: rgb(3, 251, 3);
    list-style: none;
    display: flex;
    gap: 24px; 
    padding: 10px;
    align-items: center;
}

/* position: absolute Rojo */
.nav-position-absolute {
    position: absolute;
    
     
    background-color: rgb(255, 0, 0);
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 10px;
    align-items: center;
}

/*  position: fixed Amarillo */
.nav-position-fixed {
    position: fixed;
    top: 0;
    width: 100%; /* necesita esto para pcupar todo el ancho */

    list-style: none;
    display: flex;
    gap: 24px; 
    padding: 10px;
    align-items: center;
}

/* position: sticky Rosa */
.nav-position-sticky {
    position: sticky;
    top: 0;
    

    background-color: rgb(255, 0, 208);
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 10px;
    align-items: center;
}


.nav-position-static a,.nav-position-fixed a, .nav-position-sticky a, .nav-position-absolute a,.nav-position-relative a{
    text-decoration: none;
    color: #FFF;
    font-weight: 800;
}

.wallpaper{
    background-image: url(../img/arnold.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}